@using LibraryAppMvc.Models.Entity
@model List<Personeller>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OriginalLayout.cshtml";
}

<h2 style="text-align:center">Personel Bilgileri</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Personel Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <th>@x.PersonelID</th>
            <td>@x.PersonelAd</td>
            <td><a href="/Personel/PersonelSil/@x.PersonelID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Personel/PersonelGetir/@x.PersonelID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Personel/PersonelEkle/" class="btn btn-primary">Personel Ekle</a>
   

